@CHARSET "UTF-8";

/*  div{
	border-style: solid;
}   */

body{
	background-color: #E6E6E6;
	text-align: center;
	margin: 0px;
	font-family:arial,helvetica,sans-serif;
}

#container{
	background-color: #E6E6E6;
	width: 1000px;
	text-align: left;
	margin: auto;
}

#logo{
	float: left;
	margin-left: 10px;
	padding: 10px 0;
}

#searcher{
	padding: 10px;
	float: right;
	
}
.nofloat{
	clear: both;
}

#content{
	background-color:white;
	border: solid;
	padding: 10px;
}

#header{
	background-color:white;
	margin-bottom :2em;
	margin-top: 2em;
	border: solid;
}

#footer{
	background-color: white;
	margin-top: 2em;
	margin-bottom: 2em;
	border: solid;
	padding: 10px;
}

#menu{
	float: left;
	width: 300px;
	
}

#main_content{
	margin-left: 318px;
	
}

.title{
	background-color: black;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	
}
.body_menu{
	background-color: #ccc;
	color: #333;
	padding: 5px;
	margin-bottom: 15px;
	font-size:smaller;
}

ul.ulnav li{
	list-style: none;
}

.float{
	float: right;
	padding: 4px;
	font-size: 105%;
	font-weight: bold;
}

.button{
	float: ri;
}
