@CHARSET "UTF-8";

/* div{
	border-style: solid;
}  */

body{
	background-color: #E6E6E6;
	text-align: center;
	margin: 0px;
	fon
}

#container{
	background-color: #E6E6E6;
	width: 1000px;
	text-align: left;
	margin: auto;
}

#logo{
	float: left;
	margin-left: 10px;
	padding: 10px 0;
}

#searcher{
	padding-top: 10px;
}
.nofloat{
	clear: both;
}

#content{
	background-color:white;
	border: solid;
	padding: 
}

#header{
	background-color:white;
	margin-bottom :2em;
	margin-top: 2em;
	border: solid;
}

#footer{
	background-color: white;
}

#menu{
	float: right;
}
