<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/site_media/estilos.css">
<title>{% block title%}JobSkillSearcher{% endblock%}</title>
</head>
<body>
	<div id=container>
		{% block header %}
		<div id="header">
			<div id=logo>
				<h1>JobSkillSearcher</h1>
				<h3>Easy way to find skills you need for your future job</h3>
			</div>
			<div id=searcher>
				<form action="#" method="POST">
					<label for="s1">Search!</label> <input type="text" name="searcher"
						id="s1" />
					<button type="submit">GO!</button>
				</form>
			</div>
			<div class="nofloat"></div>
		</div>
		{% endblock %} 
		{% block menu %}
	
		{% endblock %}
		
		
		{% block content%} aqui va el content{% endblock%}
		{% block footer %} 
		<div id="footer">
			<div id=options>
			<a href="">Contact us</a> <a href="">Help</a>
		</div>
		</div> 
		{% endblock %}
	</div>
</body>
</html>